.panel
{
    height: 100%;
    align-items: stretch;
    display: flex;
    gap: 12px;
}

.account{
    display: flex;
    gap: 6px;
    max-width: 200px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
}

.account p{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.account img{
    width: 35px;
    vertical-align: middle;
}

.panel > img{
    width: 30px;
    height: 30px;
}

.panel > .child-end, .child-begin
{
    height: 100%;
}

.child-space{
    margin-left: auto;
}

.child-end {
    align-self: center;
}
.child-begin {

}

.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    gap: 6px;
}



.met{
    border: blue solid 1px;
}
    